body {
	margin: 0;
	font: 120%/1.5 Baskerville, Adobe Caslon Pro, serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Helvetica Neue, sans-serif;
	line-height: 1.2;
	font-weight: 300;
}

h3 {
	font-size: 200%;
	margin: .5em 0;
}

a {
	color: inherit;
	text-decoration: none
}

a:hover {
	text-decoration: underline;
}

p:first-of-type {
	margin-top: 0;
}

p:last-of-type {
	margin-bottom: 0;
}

body > header {
	padding: 1.5em;
	padding-bottom: 1em;
	background: hsl(25, 100%, 50%);
	color: white
}

body > header p {
	margin: 0;
	text-align: center;
	font-family: Helvetica Neue, sans-serif;
	font-weight: 900;
	opacity: .6;
}

body > header nav {
	margin: auto;
	margin-top: 1em;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	font-family: Helvetica Neue, sans-serif;
	font-weight: bold;
	display: none;
}

body > header nav a {
	padding: .8em;
	text-decoration: none;
	border-bottom: .4em solid transparent;
}

body > header nav a:hover {
	border-bottom-color: hsla(0,0%,100%,.72);
}

h1 {
	margin: 0;
	line-height: 1;
	font-weight: 600;
	font-style: italic
}

h1 img {
	display: block;
	margin: auto;
}

h1 img[src*=logo] {
	width: 3em;
}

h1 img[src*=wordmark] {
	height: 2em;
}

h3 {
	color: hsl(25, 100%, 50%);
}

body > main {
	margin: 1em 2em;
	padding: 0 calc(50% - 60em/2 - 1em)
}

body > main h2 {
	margin: 0;
	color: white;
	font-size: 250%;
}

body > main p[property=description] {
	margin-top: 0;
}

body > main section > footer {
	width: 100%;
	text-align: right;
	color: gray;
}

ol {
	padding: 0;
}

[mv-app]:not([mv-mode=edit]) .hide-on-read {
	display: none;
}

[property="recipe"] {
	margin-bottom: 1em
}

[property="recipe"] > .content {
	counter-reset: step;
}

@media (min-width: 800px) {

	[property="recipe"] > .content {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}

	[property="recipe"] .directions {
		margin-left: 3em;
	}
}

[property="recipe"] > footer {
	/* Forked */
	padding: .4em .8em .6em;
	margin-top: 1em;
	color: white;
	font-style: italic;
	font-size: 120%;
	--fork: url(logo.svg) right / contain no-repeat content-box;
	background: var(--fork) hsl(190, 67%, 42%);
}

@supports (background-blend-mode: inherit) {

	[property="recipe"] > footer {
		background:  var(--fork), var(--image) center / cover hsl(190, 67%, 42%);
		background-blend-mode: normal, multiply;
	}
}

[property="recipe"] > footer > span {
	font: bold 60%/1 Helvetica Neue, sans-serif;
}

.recipe-card {
	position: relative;
	overflow: hidden;
	text-align: center;
	color: white;
	padding: 2em
}

.recipe-card::before {
	content: "";
	position: absolute;
	top: -1em;
	right: -1em;
	bottom: -1em;
	left: -1em;
	z-index: -1;
	background: var(--image) center / cover hsl(190, 67%, 42%);
	-webkit-filter: blur(1em);
	        filter: blur(1em);
}

.recipe-card h2 {
	letter-spacing: -.02em;
	font-weight: bold;
	margin-bottom: .2em;
}

.recipe-card img {
	width: 10em;
	height: 10em;
	-o-object-fit: cover;
	   object-fit: cover;
	border-radius: 50%;
	border: .5em solid hsla(0,0%,100%,.3);
	margin: 0 0 1em;
}

.recipe-card img[mv-mode=edit] {
	background: hsl(25, 100%, 50%);
	background-clip: padding-box;
}

.recipe-card img[mv-mode=edit][src=""] {
	content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 100 100">\
		<rect width="100%" height="100%" fill="hsl(25, 100%, 50%)" />\
		<text x="19" y="1.25em" font-size="60">🍽</text>\
	</svg>');
	content: url("logo.svg");
	-o-object-fit: scale-down;
	   object-fit: scale-down;
}

.recipe-card [property=tag] {
	padding: .3em .5em;
	border-radius: .3em;
	margin: 0 .2em;
	background: white;
	color: black;
	mix-blend-mode: screen;
	font: bold 80%/1 Helvetica Neue, sans-serif;
	text-transform: uppercase;
}

.recipe-card .mv-empty[mv-mode="edit"] {
	opacity: 1;
}

.ingredients {
	min-width: 15em
}

.ingredients ol {
	list-style: none;
}

.ingredients ol > li {
	margin-bottom: .5em;
}

.ingredients ol input[type=checkbox] {
	position: absolute;
	margin-left: -1.8em;
	margin-top: .5em;
}

.ingredients ol input[type=checkbox]:checked ~ span {
	text-decoration: line-through;
}

	[property="ingredient"] [property="preparation"] {
	opacity: .5;
	font-style: italic;
}

.directions {
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

	[property="step"] {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		position: relative;
		margin-bottom: .5em;
		counter-increment: step
	}

	[property="step"]::before {
	content: counter(step);
	position: absolute;
	right: 100%;
	margin-right: .5em;
	color: hsl(190, 67%, 42%);
	font: bold 100% Helvetica Neue, sans-serif;
}

	[property="step"] > div {
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

	[property="step"] p {
	margin: 0;
}

	[property="step"] img {
	margin-left: .5em;
}

	[property="step"] img[mv-mode=edit] {
	min-width: 2em;
	min-height: 2em;
	background: #ddd;
}

@media (min-width: 700px) {

	.index [mv-app="recipes"] {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-flow: row wrap;
		        flex-flow: row wrap;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}

	.index [mv-app="recipes"] > article,
			.index [mv-app="recipes"] > .mv-add-recipe {
		width: calc(50% - .5em);
	}

	.index [mv-app="recipes"] .mv-bar {
		width: 100%;
	}
}

.index [property=recipe] {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	font-size: 80%;
}

.index [property=recipe] h2 {
	font-size: 180%;
}

.mv-add-recipe {
	border: 2px dashed;
	background: transparent;
	font: bold 150% Helvetica Neue, sans-serif;
	margin-bottom: .66em;
	color: hsl(190, 67%, 42%);
}
