body {
	margin: 0;
	font: 120%/1.5 Baskerville, Adobe Caslon Pro, serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Helvetica Neue, sans-serif;
	line-height: 1.2;
}

a {
	color: inherit;
	text-decoration: none
}

a:hover {
	text-decoration: underline;
}

body > header {
	padding: 1.5em;
	padding-bottom: 1em;
	background: hsl(25, 100%, 50%);
	color: white
}

body > header p {
	margin: 0;
	text-align: center;
	font-family: Helvetica Neue, sans-serif;
	font-weight: 900;
	opacity: .6;
}

body > header nav {
	margin: auto;
	margin-top: 1em;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	font-family: Helvetica Neue, sans-serif;
	font-weight: bold;
	display: none;
}

body > header nav a {
	padding: .8em;
	text-decoration: none;
	border-bottom: .4em solid transparent;
}

body > header nav a:hover {
	border-bottom-color: hsla(0,0%,100%,.72);
}

h1 {
	margin: 0;
	line-height: 1;
	font-weight: 600;
	font-style: italic
}

h1 img {
	display: block;
	margin: auto;
}

h1 img[src*=logo] {
	width: 3em;
}

h1 img[src*=wordmark] {
	height: 2em;
}

h3 {
	color: hsl(190, 67%, 42%);
}

body > section {
	margin: 1em;
	padding: 0 calc(50% - 50em/2 - 1em)
}

body > section h2 {
	margin: 0;
	color: hsl(25, 100%, 50%);
	font-size: 250%;
}

body > section p[property=description] {
	margin-top: 0;
}

ol {
	padding: 0;
}

article > header img {
	max-height: 10em;
	-o-object-fit: cover;
	   object-fit: cover;
}

article > header img[mv-mode=edit] {
	min-width: 2em;
	min-height: 2em;
	background: #ddd;
}

footer {
	color: gray;
	text-align: right;
}

.ingredients ol {
	list-style: none
}

.ingredients ol input[type=checkbox] {
	position: absolute;
	margin-left: -1.8em;
	margin-top: .5em;
}

.ingredients ol input[type=checkbox]:checked ~ span {
	text-decoration: line-through;
}

[property="ingredient"] [property="preparation"] {
	opacity: .5;
	font-style: italic;
}
