:root {
	--color1: hsl(25, 100%, 50%);
	--color2: hsl(190, 67%, 42%);
	--gray: hsl(190, 10%, 50%);
	--serif: Baskerville, Adobe Caslon Pro, serif;
	--sans-serif: Helvetica Neue, sans-serif;
	--section-width: 60em;
}

body {
	margin: 0;
	font: 120%/1.5 var(--serif);
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--sans-serif);
	line-height: 1.2;
}

h3 {
	font-size: 200%;
	margin: .5em 0;
}

a {
	color: inherit;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

p:first-of-type {
	margin-top: 0;
}

p:last-of-type {
	margin-bottom: 0;
}

body > header {
	padding: 1.5em;
	padding-bottom: 1em;
	background: hsl(25, 100%, 50%);
	color: white;

	& p {
		margin: 0;
		text-align: center;
		font-family: var(--sans-serif);
		font-weight: 900;
		opacity: .6;
	}

	& nav {
		margin: auto;
		margin-top: 1em;
		display: flex;
		justify-content: center;
		font-family: var(--sans-serif);
		font-weight: bold;
		display: none;

		& a {
			padding: .8em;
			text-decoration: none;
			border-bottom: .4em solid transparent;

			&:hover {
				border-bottom-color: hsla(0,0%,100%,.72);
			}
		}
	}
}

h1 {
	margin: 0;
	line-height: 1;
	font-weight: 600;
	font-style: italic;

	& img {
		display: block;
		margin: auto;

		&[src*=logo] {
			width: 3em;
		}

		&[src*=wordmark] {
			height: 2em;
		}
	}
}

h3 {
	color: var(--color1);
}

body > section {
	margin: 1em 2em;
	padding: 0 calc(50% - var(--section-width)/2 - 1em);

	& h2 {
		margin: 0;
		color: white;
		font-size: 250%;
	}

	& p[property=description] {
		margin-top: 0;
	}

	& > footer {
		text-align: right;
		color: gray;
	}
}

ol {
	padding: 0;
}

[property="recipe"] {
	margin-bottom: 1em;

	& > header {
		position: relative;
		overflow: hidden;
		text-align: center;
		color: white;
		padding: 1em;

		&::before {
			content: "";
			position: absolute;
			top: -1em;
			right: -1em;
			bottom: -1em;
			left: -1em;
			z-index: -1;
			background: var(--image) center / cover var(--color2);
			filter: blur(1em);
		}

		& h2 {
			letter-spacing: -.02em;
		}

		& img {
			width: 10em;
			height: 10em;
			object-fit: cover;
			border-radius: 50%;
			border: .5em solid hsla(0,0%,100%,.3);
			margin: 0 0 1em;

			&[mv-mode=edit] {
				background: #ddd;
				background-clip: padding-box;
			}
		}

		& [property=tag] {
			padding: .3em .5em;
			border-radius: .3em;
			margin: 0 .2em;
			background: white;
			color: black;
			mix-blend-mode: screen;
			font: bold 80%/1 var(--sans-serif);
			text-transform: uppercase;
		}
	}

	& > .content {
		counter-reset: step;
	}

	@media (min-width: 800px) {
		& > .content {
			display: flex;
		}

		& .directions {
			margin-left: 3em;
		}
	}

	& > footer { /* Forked */
		padding: .4em .8em .6em;
		margin-top: 1em;
		color: white;
		font-style: italic;
		font-size: 120%;
		--fork: url(logo.svg) right / contain no-repeat content-box;
		background: var(--fork) var(--color2);

		@supports (background-blend-mode: inherit) {
			background:  var(--fork), var(--image) center / cover var(--color2);
			background-blend-mode: normal, multiply;
		}

		& > span {
			font: bold 60%/1 var(--sans-serif);
		}
	}

	&:not([mv-mode=edit]) .hide-on-read {
		display: none;
	}
}

.ingredients {
	min-width: 15em;

	& ol {
		list-style: none;

		& > li {
			margin-bottom: .5em;
		}

		& input[type=checkbox] {
			position: absolute;
			margin-left: -1.8em;
			margin-top: .5em;

			&:checked ~ span {
				text-decoration: line-through;
			}
		}
	}
}

	[property="ingredient"] {
		& [property="preparation"] {
			opacity: .5;
			font-style: italic;
		}
	}

.directions {
	flex: 1;
}

	[property="step"] {
		display: flex;
		position: relative;
		margin-bottom: .5em;
		counter-increment: step;

		&::before {
			content: counter(step);
			position: absolute;
			right: 100%;
			margin-right: .5em;
			color: var(--color2);
			font: bold 100% var(--sans-serif);
		}

		& > div {
			flex: 1;
		}

		& p {
			margin: 0;
		}

		& img {
			margin-left: .5em;

			&[mv-mode=edit] {
				min-width: 2em;
				min-height: 2em;
				background: #ddd;
			}
		}
	}
