@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,600,600i,700');

:root {
	--color1: hsl(25, 100%, 50%);
	--color2: hsl(190, 67%, 42%);
	--gray: hsl(190, 10%, 50%);
	--body-font: Helvetica Neue, sans-serif;
	--heading-font: Crimson Text, Adobe Caslon Pro, serif;
	--section-width: 60em;
}

body {
	margin: 0;
	font: 100%/1.5 var(--body-font);
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--heading-font);
	line-height: 1.2;
}

a {
	color: inherit;
}

header {
	padding: 1.5em;
	padding-bottom: 0;
	background: hsl(25, 100%, 50%);
	color: white;

	& nav {
		margin: auto;
		margin-top: 1em;
		display: flex;
		justify-content: center;
		font-weight: bold;

		& a {
			padding: .8em;
			text-decoration: none;
			border-bottom: .4em solid transparent;

			&:hover {
				border-bottom-color: hsla(0,0%,100%,.72);
			}
		}
	}
}

h1 {
	margin: 0;
	line-height: 1;
	font-weight: 600;
	font-style: italic;

	& img {
		display: block;
		margin: auto;

		&[src*=logo] {
			width: 3em;
		}

		&[src*=wordmark] {
			height: 2em;
		}
	}
}

body > section {
	margin: 1em;
	padding: 0 calc(50% - var(--section-width)/2 - 1em);

	& h2 {
		margin: 0;
		color: var(--color1);
		font-size: 250%;
	}

	& p[property=description] {
		margin-top: 0;
	}
}


[property="ingredient"] {
	& [property="preparation"] {
		opacity: .5;
		font-style: italic;
	}
}
