@@include("_head.html")

<main class="index" mv-app="restaurants" mv-source="/restaurants.json" mv-storage="https://github.com/leaverou/forkgasm/restaurants.json" mv-bar="no-login" mv-plugins="sort" mv-bar="with export">
<div class="mv-bar mv-ui mv-fixed" mv-bar="no-login"></div>

<section id="filters">
	<input type="search" property="search" placeholder="Search [count(dish)] dishes from [count(restaurant)] restaurants in [count(countriesUsed)] countries" />

	<label id="location-filter">
		By location:
		<meta property="countriesUsed" content="[unique(country)]">
		<meta property="citiesUsed" content="[unique(city where country = countryFilter)]">
		<select property="countryFilter" style="--flag: url(/flags/[countryFilter].png)">
			<option value="">All countries</option>
			<optgroup mv-list label="Countries" mv-value="countries.country where code in countriesUsed">
				<option mv-list-item mv-group value="[code]">[name]</option>
			</optgroup>
		</select>
		<select property="cityFilter" mv-if="countryFilter and count(citiesUsed) > 1">
			<option value="">All [count(citiesUsed)] cities</option>
			<optgroup mv-value="citiesUsed" label="Cities">
				<option mv-list-item></option>
			</optgroup>
		</select>
	</label>
	<label id="rating-filter">
		Rating is
		<select property="ratingFilterOp">
			<option value="gte">&GreaterEqual;</option>
			<option value="lte">&leq;</option>
		</select>
		<input type="number" min="0" max="10" step=".1" property="ratingFilterNumber">
	</label>
	<label id="award-filter">
		By award: <button class="clear" mv-action="set(awardFilter, null)" title="Clear filter" mv-if="awardFilter">✖️</button>
		<select property="awardFilter" multiple>
			<option value="michelin-star-1" style="--icon: url('icons/michelin-star-1.svg')">1 Michelin star</option>
			<option value="michelin-star-2" style="--icon: url('icons/michelin-star-2.svg')">2 Michelin stars</option>
			<option value="michelin-star-3" style="--icon: url('icons/michelin-star-3.svg')">3 Michelin stars</option>
			<option value="michelin-bibgourmand" style="--icon: url('icons/michelin-bibgourmand.svg')">Michelin Bib Gourmand</option>
			<option value="michelin-plate" style="--icon: url('icons/michelin-plate.svg')">Michelin Plate</option>
		</select>
	</label>
</section>

<p class="result-count" mv-if="count(filtered) > 0">Showing [count(dish where !dish.restaurant.filtered)] dishes from [count(!filtered)] restaurants</p>

<section mv-list>
	<article property="restaurant" mv-list-item id="[id]" hidden="[filtered]">
		<meta property="shown" content="[!countryFilter or countryFilter = country]">
		<meta property="shown" content="[!cityFilter or cityFilter = city]">
		<meta property="shown" content="[!search or contains(restaurant, search)]">
		<meta property="shown" content="[!awardFilter or intersects(award, split(awardFilter, ','))]">
		<meta property="shown" mv-value="!ratingFilterNumber or rating > 0 and $fn[ratingFilterOp](rating, ratingFilterNumber)">
		<meta property="filtered" content="[!and(shown)]">

		<header>
			<img property="image" class="avatar" mv-default="[first(dish.image)]" loading="lazy">
			<a href="/restaurants/[id]">
				<h2>
					<span property="name"></span>

					<div class="permanently-closed" property="closed">Permanently Closed</div>

					<div class="awards" mv-list mv-initial-items="0">
						<img src="/icons/[award].svg" alt="" title="[readable(award)]"property class="award" mv-list-item  mv-attribute="data-award">
					</div>
				</h2>
				<p class="hide-on-read">
					http://forkgasm.com/restaurants/<span property="id" mv-default="[idify(name)]"></span>
				</p>
			</a>

			<span property="rating" data-class="[round(rating)]">[average(dish.averageRating)]</span>

			<p class="location" style="--flag: url(/flags/[country].png)">
				<span property="city"></span>[if(city and country, ',')]
				<span property="country" mv-editor="#countries"></span>
			</p>

			<p class="stats">Visited <span property="visits">[count(visit)]</span> times and tried <span property="dishes" mv-storage="inherit">[count(dish)]</span> dishes</p>
		</header>

		<div class="mv-container" mv-list="">
			<article property="visit" mv-list-item>
				<header>
					<h3>
						<time datetime="2016-03-15" property="date">15 Mar 2016</time>
						<div property="comment"></div>
					</h3>
					<span property="rating" data-class="[floor(rating)]" mv-if="count(restaurant.visit) > 1">[average(dish.averageRating)]</span>
				</header>

				<section class="dishes" mv-list>
					<article property="dish" mv-list-item title="[name]">
						<a href="/restaurants/[restaurant.id]/#dish-[$index + 1]-on-[date]">
							<img src="[thumbnail(image)]" loading="lazy">
							<span property="rating" data-class="[floor(rating)]" mv-editor-type="number" mv-editor-min="1" mv-editor-max="10" mv-editor-step=".5">0</span>
							<span property="rating" data-class="[floor(rating)]" mv-editor-type="number" mv-editor-min="1" mv-editor-max="10" mv-editor-step=".5">0</span>
							<meta property="averageRating" content="[if(count(rating), average(rating), '')]">
						</a>
					</article>
				</section>
			</article>
		</div>
	</article>

	<a href="?login" class="mv-login mv-logged-out">Login to edit</a>
</section>

</main>

<div hidden mv-app="countries" mv-source="/countries.json" mv-mode="read">
	<select id="countries">
		<option value=""></option>
		<optgroup mv-list label="Countries">
			<option value="[code]" property="country" mv-list-item mv-group>[name]</option>
		</optgroup>
	</select>
</div>

@@include("_foot.html")
