@@include("_head.html")

<main class="index" mv-app="restaurants" mv-storage="https://github.com/leaverou/forkgasm/restaurants.json" mv-bar="no-login" mv-plugins="sort" mv-bar="with export">
<div class="mv-bar mv-ui mv-fixed" mv-bar="no-login"></div>

<section id="filters">
	<input type="search" property="search" placeholder="Search [count(dish)] dishes from [count(restaurant)] restaurants in [count(countriesUsed)] countries" />

	<label>
		By location:
		<meta property="countriesUsed" content="[unique(country)]">
		<meta property="citiesUsed" content="[unique(city where country = countryFilter)]">
		<select property="countryFilter" style="--flag: url(/flags/[countryFilter].png)">
			<option value="">All countries</option>
			<optgroup mv-list label="Countries" mv-value="countries.country where code in countriesUsed">
				<option mv-list-item mv-group value="[code]">[name]</option>
			</optgroup>
		</select>
		<select property="cityFilter" mv-if="countryFilter and count(citiesUsed) > 1">
			<option value="">All [count(citiesUsed)] cities</option>
			<optgroup mv-value="citiesUsed" label="Cities">
				<option mv-list-item></option>
			</optgroup>
		</select>
	</label>
</section>

<section mv-list>
	<article property="restaurant" mv-list-item id="[id]" hidden="[!and(shown)]">
		<meta property="shown" content="[!countryFilter or countryFilter = country]">
		<meta property="shown" content="[!cityFilter or cityFilter = city]">
		<meta property="shown" content="[!search or contains(restaurant, search)]">
		<header>
			<img property="image" mv-default="[first(dish.image)]" loading="lazy">
			<a href="/restaurants/[id]">
				<h2 property="name"></h2>
				<p class="hide-on-read">
					http://forkgasm.com/restaurants/<span property="id" mv-default="[idify(name)]"></span>
				</p>
			</a>

			<span property="rating" data-class="[round(rating)]">[average(dish.averageRating)]</span>

			<p class="location" style="--flag: url(/flags/[country].png)">
				<span property="city"></span>[if(city and country, ',')]
				<span property="country" mv-editor="#countries"></span>
			</p>

			<p class="stats">Visited <span property="visits">[count(visit)]</span> times and tried <span property="dishes" mv-storage="inherit">[count(dish)]</span> dishes</p>
		</header>

		<div class="mv-container" mv-list="">
			<article property="visit" mv-list-item>
				<header>
					<h3>
						<time datetime="2016-03-15" property="date">15 Mar 2016</time>
						<div property="comment"></div>
					</h3>
					<span property="rating" data-class="[floor(rating)]" mv-if="count(restaurant.visit) > 1">[average(dish.averageRating)]</span>
				</header>

				<section class="dishes" mv-list>
					<article property="dish" mv-list-item title="[name]">
						<a href="/restaurants/[restaurant.id]/#dish-[$index + 1]-on-[date]">
							<img src="[thumbnail(image)]" loading="lazy">
							<span property="rating" data-class="[floor(rating)]" mv-editor-type="number" mv-editor-min="1" mv-editor-max="10" mv-editor-step=".5">0</span>
							<span property="rating" data-class="[floor(rating)]" mv-editor-type="number" mv-editor-min="1" mv-editor-max="10" mv-editor-step=".5">0</span>
							<meta property="averageRating" content="[if(count(rating), average(rating), '')]">
						</a>
					</article>
				</section>
			</article>
		</div>
	</article>

	<a href="?login" class="mv-login mv-logged-out">Login to edit</a>
</section>

</main>

<div hidden mv-app="countries" mv-source="/countries.json" mv-mode="read">
	<select id="countries">
		<option value=""></option>
		<optgroup mv-list label="Countries">
			<option value="[code]" property="country" mv-list-item mv-group>[name]</option>
		</optgroup>
	</select>
</div>

@@include("_foot.html")
