<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>forkgasm — Lea & Chris’ culinary advenctures</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="/avatar.png">
	<link rel="stylesheet" href="https://dev.mavo.io/dist/mavo.css"><script src="https://dev.mavo.io/dist/mavo.js"></script>
	<link rel="stylesheet" href="/style.css">
</head>
<body>

<header>
	<h1>
		<img src="/logo.svg" alt="">
		<a href="/"><img src="/wordmark.svg" alt="forkgasm"></a>
	</h1>

	<nav>
		<a href="/index.html">Recipes</a>
		<a href="/restaurants">Restaurants <sup>β</sup></a>
		<a href="/about">About</a>
	</nav>
</header>


<main mv-app="restaurants" mv-storage="https://github.com/leaverou/forkgasm/restaurants.json" mv-plugins="sort" mv-bar="with export">
<div class="mv-bar mv-ui mv-fixed" mv-bar="no-login"></div>
<a href="#none" class="close button" onclick='requestAnimationFrame(() => history.replaceState(null, "", "#"));'>✖</a>

<meta property="selectedRestaurant" content="[url('restaurants')]">
<section mv-list mv-path="id=[if(selectedRestaurant)]">
	<article property="restaurant" mv-list-item>
		<header>
			<img property="image" mv-default="[first(dish.image)]">
			<a property="url" mv-default="[facebook]">
				<h2 property="name"></h2>
				<p class="hide-on-read">
					http://forkgasm.com/restaurant/<span property="id" mv-default="[idify(name)]"></span>
				</p>
				<meta property="facebook" content="https://facebook.com/[facebook_places_id]" />
			</a>

			<span property="rating" data-class="[round(rating)]">[average(dish.averageRating)]</span>

			<p class="location" style="--flag: url(/flags/[country].png)">
				<span property="city"></span>[if(city and country, ',')]
				<span property="country" mv-edit="#countries"></span>
			</p>

			<p class="stats">Visited <span property="visits">[count(visit)]</span> times and tried <span property="dishes" mv-storage="inherit">[count(dish)]</span> dishes</p>
		</header>

		<div class="mv-container" mv-list>
			<article property="visit" mv-list-item>
				<header>
					<h3>
						<time datetime="2016-03-15" property="date">15 Mar 2016</time>
						<div property="comment"></div>
					</h3>
					<span property="rating" data-class="[floor(rating)]" mv-if="count(restaurant.visit) > 1">[average(dish.averageRating)]</span>
				</header>

				<section class="dishes" mv-list>
					<article property="dish" mv-list-item title="[name]" id="[id]">
						<a href="#[id]">
							<img property="image" mv-uploads="images/dishes" loading="lazy">
							<span property="rating" data-class="[floor(rating)]" mv-edit-type="number" mv-edit-min="1" mv-edit-max="10" mv-edit-step=".5"></span>
							<span property="rating" data-class="[floor(rating)]" mv-edit-type="number" mv-edit-min="1" mv-edit-max="10" mv-edit-step=".5"></span>
							<meta property="averageRating" content="[if(count(rating), average(rating), '')]">
						</a>
						<div class="content">
							<h4 property="name"></h4>
							<div property="comment"></div>
							<meta property="id" content="dish-[$index + 1]-on-[date]" />
							<a href="#[$previous.id]" class="previous button" mv-if="$previous">Previous</a>
							<a href="#[$next.id]" class="next button" mv-if="$next">Next</a>
						</div>
					</article>
				</section>
			</article>
		</div>
	</article>

	<a href="?login" class="mv-login mv-logged-out">Login to edit</a>
</section>
</main>

<div hidden mv-app="countries" mv-source="/countries.json" mv-mode="read">
	<select id="countries">
		<option value=""></option>
		<optgroup mv-list label="Countries">
			<option value="[code]" property="country" mv-list-item mv-group>[name]</option>
		</optgroup>
	</select>
</div>

<script src="/forkgasm.js" async></script>
</body>
</html>

