<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>forkgasm — Lea & Chris’ culinary advenctures</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <link rel="stylesheet" href="../mavo/dist/mavo.css"><script src="../mavo/dist/mavo.js"></script> -->
	<link rel="stylesheet" href="https://dev.mavo.io/dist/mavo.css"><script src="https://dev.mavo.io/dist/mavo.js"></script>
	<link rel="stylesheet" href="/style.css">
</head>
<body>

<header>
	<h1>
		<img src="logo.svg" alt="">
		<a href="/"><img src="wordmark.svg" alt="forkgasm"></a>
	</h1>
	<p>Lea & Chris’ culinary adventures</p>
	<nav>
		<a href="restaurants.html">Reviews</a>
		<a href="recipes.html">Recipes</a>
	</nav>
</header>
